.react-codemirror2 {
    position: relative;
}

.react-codemirror2 .CodeMirror-wrap {
    position: absolute;
    width: 100%;
    height: 44vh;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}